[user]
	name = YusukeHarada
	email = peugeot106.36@gmail.com

[core]
	excludesfile = ~/.gitignore_global
	pager = delta

[init]
	defaultBranch = main

[pull]
	rebase = false

[push]
	default = current

[alias]
	st = status
	co = checkout
	br = branch
	lg = log --oneline --graph --decorate --all
	undo = reset HEAD~1 --mixed
	unstage = reset HEAD --
	recent = log --oneline -10
	staged = diff --cached
	cleanup = "!git branch --merged | grep -v main | xargs git branch -d"

[commit]
	template = ~/.stCommitMsg

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true
	line-numbers = true

[diff]
	tool = sourcetree
	colorMoved = default

[difftool "sourcetree"]
	cmd = opendiff "$LOCAL" "$REMOTE"
	path =

[merge]
	tool = sourcetree

[mergetool "sourcetree"]
	cmd = $HOME/Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh "$LOCAL" "$REMOTE" -ancestor "$BASE" -merge "$MERGED"
	trustExitCode = true
